.margin-bottom{
    margin-bottom: 50px;
    position: relative;
}
.main-contact{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
    display: flex;
    gap: 40px;
    padding: 15px;
}
.left-contact{
    background: linear-gradient(90deg, #ff014f, #fff227);
    padding: 40px 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left-contact .btn_shadow2 h5{
    margin-bottom: 25px;
}
.left-contact .blue{
    color: blue;
}
.left-contact .green{
    color: rgb(123, 199, 8);
}
.click-me{
    padding: 5px 15px;
    border: 2px solid #e2e8ec;
    border-radius: 20px;
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.click-me:hover{
    box-shadow: 4px 4px 8px #ff014f;
    color: #ff014f;
}
.right-contact{
    padding: 40px 60px 40px 100px;
}
.main-contact .arrow{
    transform: rotate(-45deg);
    color: #ff014f;
}
@media (max-width:1000px){
    .right-contact{
        padding: 40px 30px 40px 40px;
    }
}
@media (max-width:768px){
    .main-contact{
        flex-direction: column;
    }
    .right-contact{
        padding: 30px 0;
    }
    input, textarea{
        width: 100%;
    }
}
@media (max-width:400px){
    .main-contact{
        padding:15px 3px;
        margin: 0;
    }
}
@media (max-width: 340px){
    .left-contact{
        padding: 40px 7px;
    }
}
@media (max-width: 312px){
    .click-me{
        font-size: 12px;
    }
    .gmail{
        font-size: 15px;
    }
}